.bckgrd-img{
    height: 100vh;
    width:100vw;
    background-image: url('./flower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
    .layer{
        background-color:#2626266e;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index:0;

}
.boxing{
   
    background-color: #ffffff;
   
}